body {
  background-color: #c7c0ef7d;
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  position:relative;
  overflow-x: hidden;
  /* display: grid; */

}

nav {
  display: flex;
  align-items: center;
  justify-content:space-around;
  /* border: solid; */
  border-radius: 30px;
  height: 50px;
  background-color: white;
  box-shadow: -1rem 0 3rem #0003;
}

.add-button{
  display:flex;
  /* align-items: center;  */
  margin:auto;
}

.square {
  border: solid 1.5px;
  width: 60px;
  height: 60px;
  background-color: white;
  box-shadow: -1rem 0 3rem #0003;
}


.row {
  border:solid;
  /* background-color: red; */
  display:flex;
  width: fit-content;
  
}

.Month {
  display:grid;
  justify-content:center;
  margin:auto;
  /* background-color:blue; */
}

#attendance-header{
  display:flex;
  justify-content: center;
}

#attendance-names{
  display: flex;
  margin:auto;
  justify-content: center;
}

.container {
  display: flex;
  flex-wrap: wrap ;
  /* flex-flow: row; */
  flex-basis: content;
  /* height: 500px; */
  width: 100%;
  /* display: flex; */
  margin: 30px;

}

.card {
  height: 300px;
  width: 300px;
  background-color: white;
  border-radius: 10px;
  box-shadow: -1rem 0 3rem #0003;
  margin: 10px;
}

.card-title {
  color: #666666;
  font-weight: 500;
  margin: 0%;
  left: 20px;
  top: 15px;

}

.attendance-body{
  /* display:flex; */
  margin-left: 10px;
}

.attendance-buttons{
  /* position:absolute; */
  bottom:0;
}

#present-button{
  height: 50px;
}

#absent-button{
  height: 50px;
}

#submit-button{
  display:flex;
  /* justify-content: center; */
  margin:auto;
}

#delete-button{
  right: 0%;
}

.StudentInfoFields {
  display: grid;
}

.createStudentForm {
  width:min-content;
  background-color: white;
  /* border:solid; */
  border-radius: 200px;
  padding: 80px;
  padding-bottom:100px;
  box-shadow: -1rem 0 3rem #0003;
  /* display:flex; */
  /* margin: auto; */
  /* justify-content: center; */
  margin:auto;

}


p {
  font-size: 20px;
}

.bar-container {
  background-color: rgb(192, 192, 192);
  width: 80%;
  border-radius: 15px;
  height: 30px;
}

.attendance {
  height: 25px;
  color: white;
  padding: 1%;
  text-align: right;
  font-size: 20px;
  border-radius: 15px;
}

.present {
  width: 85%;
  background-color: rgba(135,240,112);
}

.absent {
  background-color: rgba(232, 150, 102, 0.813);
  width: 15%;
}






 .card:hover {
  transform: translateY(-20px); 
  transition: 0.4s ease-out;
 } 


